@model FUnight.Models.FUnActivity

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FUnActivity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuggestedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuggestedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostEstimate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostEstimate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserGroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserGroupId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
