@model IEnumerable<FUnight.Models.FUnActivity>

@{
    ViewData["Title"] = "All Suggestions";
}

<h1>Index</h1>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuggestedDate)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ActivityType.Type)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ActyTypeComment)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestedDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType.Type)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ActyTypeComment)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
