@model IEnumerable<FUnight.Models.FUnActivity>

@{
    ViewData["Title"] = "All Suggestions";
}

<h1>Current FUNactivity Standings</h1>
<h5>~click on details to vote~</h5>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuggestedDate)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            
            <th class="rating-cell">
                @Html.DisplayNameFor(model => model.ActivityType.Type)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ActyTypeComment)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="table-padding">
                @Html.DisplayFor(modelItem => item.SuggestedDate)
            </td>
           
            <td class="rating-cell table-padding">
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            
            <td class="table-padding">
                @Html.DisplayFor(modelItem => item.ActivityType.Type)
            </td>
            
            <td class="table-padding">
                @Html.DisplayFor(modelItem => item.ActyTypeComment)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
